@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Philosopher);

body{
	background:#000;
	color:#eee;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
}


header{
	width:100%;
	height:120px;
	color: #000;
	margin:0 auto;
	position:fixed;
	padding:10px;
	background-color: rgba(255,200,0,1);
	z-index: 2;
	font-family: 'Work Sans', sans-serif;
}

section{
	padding-top: 100px;
}


p{
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 100;
	text-align: justify;
	vertical-align: middle;
	padding: 30px 30px 30px 30px;
	line-height: 20px;
}

h2{
	font-family: 'Philosopher', sans-serif;
	font-size: 35px;
	text-align: right;
	vertical-align: middle;
	margin: 50px;

}

a:link{
    color: #fff;
    text-decoration: none;
}

a:visited{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #fff;
    text-decoration: none;
}

a:active{
    color: #fff;
    text-decoration: none;
}

img{
	border:none;
	width: 100%;
	margin:0 auto;
	padding:0px;
	float: none;
}

nav{
	float: right;
	position: relative;
	padding: 20px 20px 0 0;
}

footer{
	width:100%;
	height:100;
	margin: 100px;
	padding:10px;
	margin: 0 auto;
	position: relative;
	background-color: transparent;
	float: none;
}

.clearfix:after {
	visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
}

.col2{
  	width:70%;
  	float:right;
  	text-align: right;
}

.name{
	 margin: 50px;
	 float: left;
}


.slogan{
  	width:80%;
  	float:left;
  	text-align: right;
	font-family: 'Philosopher', sans-serif;
  	font-style: bold;
  	padding: 20px;
}

.text {
	margin: 100px;
}


#logo{
	width:100px;
	height:100px;
	color:#fff;
	background-color: black;
	font-family:Arial;
	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	border:4px solid white;
	padding: 10px;
}


@media only screen and (max-width: 800px) {
	
	html {
		background-color: rgba(255,200,0,1);
	}

	header {
		background-color: rgba(255,0,0,1);
	}

	img {
		display: none;
	}

	

	.slogan {
		display: none;
	}

	.name {
		float: none;
	}

}